* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.navbar {
    --bs-navbar-brand-padding-y: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 90vh;
}

#section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: rgb(213, 213, 213);
    width: 100vw;
}

.section1-logo-orange-evolution {
    width: 15rem;
    height: 15rem;
}

#section2 {
    height: 40vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}

.div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 80%;
    width: 80%;
}

.input-cadastro {
    width: 100%;
}

.btn-form {
    width: 100%;
}

.div-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 1.2rem;
    height: 5%;
    /* background-color: green; */
}

