* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}

.div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 80%;
    width: 80%;
}

.div-forgot-signup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-anchor-forgot-password {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: small;
}

.anchor-forgot-password {
    text-decoration: none;
    padding-top: 0.13rem;
    margin-left: 0.3rem;
}

.text-forgot {
    margin-bottom: 0;
}

.div-signup {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: small;
}

.signup {
    text-decoration: none;
    padding-top: 0.13rem;
    margin-left: 0.3rem;
}

.btn-form {
    width: 100%;
}

.div-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 1.2rem;
    /* background-color: green; */
}

