* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


:root{

    --laranja-primaria: #FF7823;
    --laranja-hover: #CC601C;
    --laranja-clicked: #803C11; 

    --marrom-cinza-botoes: #170600;

    --fundo-azul-sections: #001024;
    --fundo-branco-section: #E5E5E5;

    --verde-agua: #00C19C;
    --verde-hover: #009A7D;

    --preto-base: #000000;
    --branco-base: #FFFFFF;

    --plano-fundo: #FFFBF6;

}

html {
    height: 100%;
    background-color: var(--branco);
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    height: 100%;
}

/*================== NAVBAR ======================= */
.navbar-nav {
    font-weight: 700;
}

.btn-nav1{
    background-color: var(--laranja-primaria)!important;
    color: var(--marrom-cinza-botoes)!important;
    width: 8rem;
    height: 2.6rem;  
    border-radius: 0.3rem;
    border: none;
    margin: 0.4rem;
    text-align: center;
    font-weight: 700;
}

.btn-nav1:hover{
    background-color: var(--laranja-hover)!important;
    transition: all 0.5s;
}

/* BOTÃO ENTRAR */
.btn-nav2{
    background-color: var(--verde-agua)!important;
    color: var(--marrom-cinza-botoes)!important;
    width: 6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: none; 
    font-weight: 700;
}

.btn-nav2:hover{
    background-color: var(--verde-hover)!important;
    transition: all 0.5s;
}


/*================== FORMULÁRIO ======================= */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--plano-fundo);
    height: 93%;
    
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco-base);
    height: 24rem;
    border-radius: 2rem;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.52); 
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.52);
}

.div-inside-form {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    justify-content: center;
    align-items: center;
    background-color: var(--branco-base);
    height: 20rem;
    width: 60%;
    border-radius: 20rem;
    font-size: 1rem;
}


.form-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
}

/* Inputs */
.form-control{
    margin: 0.25rem;
}

/* Textos do Esqueceu sua senha e Não possui conta */
.form-text {
    margin-bottom: 0;
}

/* Texto Clique aqui */
.anchor-forgot-password {
    text-decoration: none;
    padding-top: 0.26rem;
    margin-left: 0.3rem;
    font-size: 0.875rem;
}


/* Caixa do Não possui conta e Cadastre-se */
.div-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Texto Cadastre-se */
.signup {
    text-decoration: none;
    margin-left: 0.3rem;
    font-size: 0.875rem;
    padding-top: 0.26rem;
}

.btn-form {
    width: 100%;
    background-color: rgba(255, 120, 35, 1);
    height: 2.375rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.btn-form:hover {
    background-color: #CC601C;
}

/*============================ MEDIA QUERIES ====================== */


@media (max-width: 430px) {
    .form-title{
        font-size: 1rem;
    }

    .div-anchor-forgot-password{
        flex-direction: column;
        font-size: .8rem;
    }
    .div-signup{
        flex-direction: column;
        font-size: .8rem;
    }
        
}


@media (max-width: 320px) {
    .form-title{
        font-size: 1rem;
    }
    
    .text-forgot{
        font-size: .8rem;
    }

    .anchor-forgot-password{
        font-size: .8rem; 
    }

    .div-signup{
        flex-direction: column;
        font-size: .8rem;
    }

    .signup{
        font-size: .8rem;
    }

    .btn-form{
        margin: 0.3rem;
    }
            
}