* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --fundo-navbar: #001024;
  --laranja-primaria: rgba(255, 120, 35, 1);
  --laranja: #FF5A23;
  --laranja-hover: #CC601C;
  --preto-botoes: #170600;

  --branco-base: white;
  --preto-base: #000000;

  --verde-progress: #00C19C;
  --verde-progress-hover: #009A7D;

}


/*========= Icons menu =========*/

.material-symbols-outlined {
  display: none;
  cursor: pointer;
  color: var(--branco-base);  
}

span.material-symbols-outlined-close{
  display: none;
}


/*=========== Toggle =========== */

/* #wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
} */

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #FFFBF7;;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
} 

#wrapper.toggled #sidebar-wrapper {
  width: 280px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/*============= SIDEBAR 1 GRUPO CONTENT ======== */

.sidebar-brand{
  height: 5rem;
}

/*Botão Voltar para trilhas*/
.section1-btn {
  background-color: var(--laranja-primaria);
  /*height: 2.5rem;*/
  /*width: 100%;*/
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--preto-botoes);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  
}

.section1-btn:hover, .section1-btn:focus {
background-color: var(--laranja-hover);
text-decoration: none;
color: var(--preto-botoes);
}

/* Sobre os cursos */
.sidebar-description {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  width: 100%;
}

.bar1-progress {
  width: 25%;
  background-color: var(--verde-progress);
}

.btn-add-content {
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--verde-progress);
    border-radius: 0.3rem;
    color: var(--preto-base);
    background-color: var(--verde-progress);
    width: 15rem;
    height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn-add-content:hover {
    transition: 300ms;
    background-color: var(--verde-progress-hover)!important;
}


.progress {
  color: var(--verde-progress);
}


/*============= SIDEBAR 2 GRUPO CONTENT ======== */

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--laranja);
  height: 3rem;
  padding-left: 0.55rem;
}

.title-track h4 {
  margin: 0;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: var(--fundo-navbar);
  margin: 200px 0;
  font-weight: 500;
}


.btn-topic{
  padding-right: 1rem;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: var(--laranja-primaria);
  font-weight: 500;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.input-menu {
  border-radius: 50%!important;
  border-width: 0.1rem!important;
  width: 1.5rem!important;
  height: 1.5rem!important;
  margin-left: 1.7rem!important;
  border-color: var(--verde-progress)!important;
  cursor: pointer;
}

/* Espaçamento dos inputs */
.list-group-item {
  height: 3.5rem;
}


/* .sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
} */

/* 
.div-bar {
  width: 80%;
} */




/* .sidebar-menu {
  height: 100vh;
  width: 23.375rem;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
} */

.sidebar-menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Checkbox */
.div-menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-menu {
  margin-left: 1rem;
  margin-right: 1rem;
}

.bi-lock-fill {
  margin-left: 0.7rem;
}

/* ================ NAVBAR ==============*/

.section2 {
padding: 0;
margin: 0;
}

.header-content {
  background-color: var(--fundo-navbar);
  height: 5rem;
  width: 100%;
}

.navbar-nav {
width: 100%;
padding-right: 5rem;
/* padding-left: 5rem; */
}

.div-nav {
width: 100%;
}

.section2-author {
background-color: var(--verde-progress);
height: 2.5rem;
text-align: center;
margin: 0;
color: var(--preto-base)!important;
width: 17rem;
margin-left: 3rem;
}

/* Botão proximo conteudo */
.section2-btn {
background-color: var(--laranja);
border: none;
border-radius: 0.5rem;
color: var(--preto-base)!important;
text-decoration: none;
cursor: pointer;
padding: 0.5rem;
height: 2.5rem;
width: 12rem;
text-align: center;
}

.section2-btn:hover, .section2-btn:focus {
  background-color: var(--laranja-hover);
  text-decoration: none;
  color: var(--preto-botoes);
  }

/* Setinha proximo conteudo*/
.bi-chevron-right {
  margin-bottom: 0.1rem;
  margin-left: 0.3rem;
}


/* ================ CONTEUDO ==============*/

.div-info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-topic {
  font-weight: 800;
  font-size: 1.25rem;
}

.content-time {
  font-weight: 800;
  font-size: 1.25rem;
}

.div-content {
  text-align: justify;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
}



/*======================== MEDIA QUERIES =============== */

@media (min-width: 768px) {
  #wrapper {
    padding-left: 280px;
  }

  
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 18rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  .material-symbols-outlined{
    display: none;
  }

  span.material-symbols-outlined.close{
    display: none;
  }
}


@media (max-width: 950px) {
  .section2-author {
    display: none!important;
  }

  span.material-symbols-outlined-close{
    color: var(--preto-base)!important;
  }
  
  .section2-btn {
    background-color: rgba(255, 120, 35, 1);
    border: none;
    border-radius: 0.5rem;
    color: var(--preto-base)!important;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    height: 2.5rem;
  }

  .div-content {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }

  .navbar-nav {
    width: 100%;
    padding-right: 2rem!important;
    /* padding-left: 5rem; */
  }
}


@media (max-width: 767px) {
  .material-symbols-outlined {
    display: block;
    color: white!important;
  }

  span.material-symbols-outlined.close{
    color: var(--preto-base)!important;
    display: block;
  }

  .section2-author{
    display: none;
  }

  .nav-item-author {
    display: none;
  }
  
  .div-nav{
    width: auto!important;
  }
}
  

@media (max-width: 330px) {
  .material-symbols-outlined {
    display: block;
  }

  .close{
    color: var(--preto-base);
    display: block;
  }

  .section2-author{
    display: none;
  }
  .div-nav{
    width: auto!important;
  }
}


