* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

header {
    height: 10%;
}

.navbar {
    height: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 80%;
    width: 100%;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    background-color: rgb(213, 213, 213);
    width: 100%;
}

.section1-btn {
    width: 15rem;
}

.section1-logo-orange-evolution {
    width: 15rem;
    height: 15rem;
}

.div-card-body {
    background-color: rgb(213, 213, 213);
}

.section2 {
    height: 40rem;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section2-div-card {
    height: 15rem;
    width: 8rem;
    border: none;
}

.section2-icons {
    width: 10rem;
    height: 10rem;
}

.section3 {
    height: 40rem;
    background-color: rgb(213, 213, 213);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section3-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
}

.section4 {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.section4-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25rem;
    width: 25rem;
    border-radius: 1rem;
    /* border: 1rem;
    border-color: black; */
}

.form-title {
    width: 75%;
    margin-top: 1rem;
}

.div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 80%;
    width: 80%;
}

.input-cadastro {
    width: 100%;
}

.btn-form {
    width: 100%;
}

.section5 {
    height: 25rem;
    background-color: rgb(213, 213, 213);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section5-div-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.section5-img {
    width: 15rem;
    height: 9rem;
}

.section6 {
    height: 40rem;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section6-div-card-body {
    background-color: white;
    border-color: white;
    border: none;
}

.section6-div-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.section6-btn {
    width: 15rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: white;
}

