* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

header {
    height: 10%;
}

.navbar {
    /* --bs-navbar-brand-padding-y: 0; */
    height: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 80%;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    background-color: rgb(213, 213, 213);
    width: 100%;
}

.section1-logo-orange-evolution {
    width: 15rem;
    height: 15rem;
}

.section2 {
    height: 40rem;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section2-div-card {
    height: 15rem;
    width: 8rem;
    border: none;
}

.section2-icons {
    width: 10rem;
    height: 10rem;
}

.section3 {
    height: 20rem;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50rem;
    /* background-color: rgb(0, 0, 0); */
}

.section4 {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}

.div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 80%;
    width: 80%;
}

.input-cadastro {
    width: 100%;
}

.btn-form {
    width: 100%;
}

.section5 {
    height: 15rem;
    background-color: rgb(104, 190, 75);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section6 {
    height: 20rem;
    background-color: rgb(220, 161, 34);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    color: white;
    /* background-color: aqua; */
}

footer {
    display: flex;
    justify-content: center;
    /* margin-bottom: 0;
    padding-top: 1.2rem; */
    height: 100%;
}

