* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --laranja-primaria: #FF7823;
    --laranja-hover: #CC601C;
    --laranja-clicked: #803C11; 
    --marrom-cinza: #170600;
    --full-branco: #FFFFFF;

    font-size: 62.5%; /* 1rem = 10px */

}

html, body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
}

#header {
    width: 100%;
}

/*#header .navbar-collapse{
    width: auto;
}*/

a.nav-link{
    font-size: 1.6rem;
}

.section1 {
    width: 100%;
    height: 50rem;
    background-color: #001024;
}

.titulo-inicial{
    font-weight: 700;
    font-size: 4rem;
    color:#FFFFFF;
}

.subtitulo{
    font-size: 2rem;
    color: #FFFFFF;
}

.section1-btn-cadastro{
    width: 16.9rem;
    height: 3.8rem;
    background-color: var(--laranja-primaria);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
}

.section1-btn-cadastro:hover{
    background-color: var(--laranja-hover);
    transition: all 0.5s;
}

.img-fluid{
    object-fit: contain;
}

.section2 {
    width: 100%;
    height: 60rem;
    background-color: #E5E5E5;
    text-align: center;
}

.section2 h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--laranja-hover);
}

.section2 h3 {
    font-weight: 700;
    font-size: 2.8rem;
    color: var( --marrom-cinza);
}

.texto-icons{
    font-weight: 700;
    font-size: 2rem;
    color:#000000;
    line-height: 2.8rem;
}


.section3 {
    width: 100%;
    height: 50rem;
    text-align: center;
    background-color: #001024;
}

.section3 h2{
    font-weight: 700;
    font-size: 4rem;
    color: var(--full-branco);
}

.texto-trilhas{
    font-weight: 700;
    font-size: 2rem;
    color: var(--full-branco);
}

.section4{
    width: 100%;
    height: 40rem;
    background-color: #E5E5E5;
}

.section5 {
    width: 100%;
    height: 26.8rem;
    text-align: center;
    background-color: #001024;
}

.section5 h2{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--full-branco);
}


.section6 {
    height: 40rem;
    background-color: white;
    width: 100%;
    align-items: center;
}

.section6 h2{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--full-branco);
}

.section6-btn {
    width: 15rem;
    margin-top: 1rem;
} 

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    color: white;
}




@media (max-width: 991.98) {
    #header .navbar-collapse,
    .container-fluid{
        width: 100%;
    }
    
}