* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --laranja-primaria: #FF7823;
    --laranja-hover: #CC601C;
    --laranja-clicked: #803C11; 
    --marrom-cinza: #170600;
    --full-branco: #FFFFFF;

    font-size: 62.5%; /* 1rem = 10px */

}

html, body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
}

#header {
    width: 100%;
}

/*#header .navbar-collapse{
    width: auto;
}*/

a.nav-link{
    font-size: 1.6rem;
}

.section1{
    width: 100%;
    height: auto;
    background-color: #001024;
    padding: 30px 0;
}

.sub-section1{
    padding-bottom: 40px;
}

.titulo-inicial{
    font-weight: 700;
    font-size: 4rem;
    color:#FFFFFF;
}

.subtitulo{
    font-size: 2rem;
    color: #FFFFFF;
}

.section1-btn-cadastro{
    width: 16.9rem;
    height: 3.8rem;
    background-color: var(--laranja-primaria);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
}

.section1-btn-cadastro:hover{
    background-color: var(--laranja-hover);
    transition: all 0.5s;
}

.section2 {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    text-align: center;
    padding: 30px 0;
}

.section2 h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--laranja-hover);
}

.section2 h3 {
    font-weight: 700;
    font-size: 2.8rem;
    color: var( --marrom-cinza);
}

.texto-icons{
    font-weight: 700;
    font-size: 2rem;
    color:#000000;
}


.section3 {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #001024;
    align-items: center;
    padding: 50px 0;
}

.section3 h2{
    font-weight: 700;
    font-size: 4rem;
    color: var(--full-branco);
    padding-bottom: 80px;
}

.section3 .col{
    padding-bottom: 30px;
}

.texto-trilhas{
    font-weight: 700;
    font-size: 2rem;
    color: var(--full-branco);
    padding-top: 15px;
}

.section4{
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    padding: 50px 0;
}



.section4 h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 45px;
    text-align: center;
    color: var(--laranja-primaria);
    padding-bottom: 25px;
}


.form-title {
    font-weight: 700;
    font-size: 2rem;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /*height: 35rem;
    width: 35rem;*/
    border-radius: 2rem;
    text-align: center;    
}


.div-inside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 35rem;
    border-radius: 20rem;
}

input#nome.form-control{
    font-size: 1.4rem;
    height: 11%;
    border-radius: 1rem;

}

input#email.form-control{
    font-size: 1.4rem;
    height: 11%;

    border-radius: 1rem;


    
}

input#password.form-control{
    font-size: 1.4rem;
    height: 11%;
    border-radius: 1rem;
}

input#confirmar-senha.form-control{
    font-size: 1.4rem;
    height: 11%;

    border-radius: 1rem;
}

.form-control{
    font-size: 1.6rem;
}
























.section5 {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #001024;
    padding: 50px;
}

.section5 h2{
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--full-branco);
    padding: 10px 50px;
}

.section5-group-imgs{
    justify-content: center;
    align-items: center;
}

.section5-img{
    padding: 15px 0px;
}


.section6 {
    height: auto;
    background-color: white;
    width: 100%;
    align-items: center;
}

.section6 h2{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--marrom-cinza);
    line-height: 4.5rem;
}

.section6 h3{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.4rem;
    color: var(--marrom-cinza);
}

.section6 p{
    font-weight: 400;
    font-size: 1.7rem;
    width: 90%;
}

.section6-btn {
    width: 15rem;
} 

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    color: white;
}


/*@media (max-width: 991.98) {
    #header .navbar-collapse,
    .container-fluid{
        width: 100%;
    }
    
}
*/



@media (min-width: 1000px) {
    .sub-section1{
        width: 67%;
        padding-top: 25px;
    }
}

@media (min-width: 551px) and (max-width: 991px) {
    .section1{
        width: 100%;
        height: auto;
        background-color: #001024;
        padding: 30px 20px!important;
        text-align: center;
        line-height: 30px;
    }

    .section1 img{
        width: 40%;
        margin: 20px 0;
        
    }
}

@media (max-width: 550px) {
    .section1{
        width: 100%;
        height: auto;
        background-color: #001024;
        padding: 30px 20px;
        text-align: center;
        line-height: 30px;
    }

    .section1 img{
        width: 70%;   
        margin: 20px 0;
    }

    .section2{
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
    }



    .section2 h2 {
        font-weight: 700;
        font-size: 3rem;
        color: var(--laranja-hover);
        padding-bottom: 20px;
    }
    
    .section2 h3 {
        font-weight: 700;
        font-size: 2rem;
        color: var( --marrom-cinza);
        padding-bottom: 20px;
    }

    .texto-icons{
        font-size: 1.6rem;
    }
    
    

    .section3{
        width: 100%;
        height: auto;
        background-color: #001024;
        text-align: center;
        align-items: center;
    }

    .section3 h2{
        font-size: 3rem;
        padding-bottom: 20px;
    }
    .section6{
        text-align: center;
    }
}

@media (max-width: 300px) {
    .section1 img{
        width: 80%;
        margin: 20px 0;
        
    }
}
    


    