* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

header {
    height: 10%;
}

/* .navbar-div-menu {
    display: flex;
    max-width: 110rem;
    min-width: 50rem;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-logout {
    margin-left: 2.5rem;
}
*/
.loged-navbar-btn {
    border-radius: 0.3rem;
    color: #000000;
    background-color: rgba(255, 120, 35, 1);
    width: 22rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.loged-navbar-btn:hover {
    transition: 300ms;
    font-size: 1.04rem;
}

.logo-orange-juice-small {
    width: 3rem;
    height: 2rem;
    margin-left: 1rem;
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
} */

.section1 {
    align-items: center;
    height: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.section1-btn {
    width: 15rem;
}

.section1-logo-orange-evolution {
    width: 12rem;
    height: 12rem;
}

/* .div-card-body {
    background-color: rgb(255, 255, 255);
} */

.section2 {
    height: auto;
    width: 100%;
    background-color: #001024;
    text-align: center;
}

@media (max-width: 700px) {
    .section2 {
        height: 90rem;
    }

}

/*
.section2-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
}

.section2-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    /* text-align: center; */
}

.section2-div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.section2-bar1-progress {
    width: 0%;
}

.section2-bar2-progress {
    width: 25%;
}

.section2-bar3-progress {
    width: 75%;
} */

.section3 {
    height: auto;
    width: 100%;
}

/* .section3-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-div-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section3-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
} */

.section3-icons {
    width: 2.4rem;
    height: 2.4rem;
}

.section3-btn {
    width: 13rem;
}

.section4 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.section4-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section4-div-card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.section4-icons {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    color: white;
}
